.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    /*  display: inline-flex flex !important;*/
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    /*#adv-search {
        width: 300px;
        margin: 0 auto;
    }*/

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            
            min-width: 500px;
        }
}


table tr:nth-child(4n+1) td {
  //  background-color:gainsboro;
}



[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}