@{
    ViewBag.Title = "Home Page";
}

<div ng-app="TaskManager" >
    <div ng-controller="HomeController"  data-ng-init="init()">
    
        <br />

              <div class="panel panel-primary" style="position: relative; margin-left: 20px; margin-right:20px ">
            <div class="panel-body">
                          <div class="row ">
                    <div class="col-sm-2 form-group">
                        <label for="sel1">Select Event Type</label>
                        <select class="form-control" ng-model="EventType" id="sel1">
                            <option>Registration</option>
                             <option>Procedure</option>
                            <option>Coding</option>
                            <option>Billing</option>
                            <option>Payment</option>
                            <option>Insurance Claim</option>
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="sel2">Number of Tasks</label>
                        <select class="form-control" id="sel1" ng-model="NumberOfTasks">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8" style=" margin-left:12px">
                        <table class="table" style="background-color:lavenderblush;">
                            <thead>
                                <tr>
                                    <!-- <th>#</th>-->
                                    <th>TransactionID</th>
                                    <th>EventType</th>
                                    <th>IsResolved</th>
                                    <th>ResolvedBy</th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="EventTranscation in EventTransactionList | filter: {EventTypeDescription: EventType}:true | limitTo: NumberOfTasks " ng-click="ShowHide(EventTranscation)" id="row1">

                                    <!-- <th scope="row">1</th>-->
                                    <td>{{EventTranscation.EventTransactionID}}</td>
                                    <td>{{EventTranscation.EventTypeDescription}}</td>
                                    <td>{{EventTranscation.IsResolved}}</td>
                                    <td>{{EventTranscation.ResolvedBy}}</td>                           
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-1 " ng-show="IsVisible" id="panel1" style="margin-left: 10px;">
                        <div class="panel panel-primary" style="position: relative; width: 250px; height:400px;">
                            <br>
                            <div style="font-size:20px"><b>&nbsp;&nbsp;{{EventTypeData}}</b></div>
                            <br />
                            <div style="font-size: 17px; color:Red">&nbsp; &nbsp;<b> Action list</b></div>
                          
                            <ul ng-repeat="Action in ActionList">
                                
                              <li><a ng-href={{Action.TargetURL}} target="_blank">{{Action.ActionType}}</a></li>
                                
                            </ul>

                            @*<ul ng-repeat="Action in ActionList">

                                <lik6tv><p  ng-click="Open(Action)" >{{Action.ActionType}}</p></li>

                            </ul>*@
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

@section Scripts {
<script>
    function ShowEventActionList() {
        var json = $.ajax({
            type: 'GET',
            url: "/Home/GetEventActionList",
            dataType: json,
            async: false

        }).responseText;
    
        var jsonData = JSON.parse(json);
        var abc = $.parseJSON(json);
     
        console.log(jsonData);
        console.log(abc);
    }

</script>
<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
   
<script type="text/javascript" src="~/ClientScripts/app.js"></script>
<script type="text/javascript" src="~/ClientScripts/HomeController.js" ></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    }

@section Style{


    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
}