################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EnterpriseTaskManager/v15/.suo
/.vs/config/applicationhost.config
/.vs/config
/.vs/config
/EnterpriseTaskManager.DataAccess/obj/Debug
/EnterpriseTaskManager.DataAccess/obj/Debug
/EnterpriseTaskManager.DataAccess/obj/Debug
/packages
/.vs/ETM/v15/.suo
/.vs
/EnterpriseTaskManager/obj/Release
/EnterpriseTaskManager.Common/obj/Release
/EnterpriseTaskManager.DataAccess/obj/Release
/EnterpriseTaskManager
/EnterpriseTaskManager.Common
/EnterpriseTaskManager.DataAccess/bin/Debug
/PatientManagement/.vs/PatientManagement/v15/.suo
/PatientManagement/PatientManagement/bin
/PatientManagement/PatientManagement.Tests/obj/Debug
/PatientManagement/PatientManagement.DataAccess/obj/Debug
/PatientManagement/PatientManagement.Common/obj/Debug
/PatientManagement/PatientManagement/obj/Debug
/PatientManagement/PatientManagement.DataAccess/PatientManagement.DataAccess.csproj.user
/PatientManagement
/Level0TaskGeneratingScript.html
/EventUtility/.vs/EventUtility/v15/.suo
/EventUtility/EventUtility/bin/Debug
/EventUtility/EventUtility/obj/Debug
/EnterpriseTaskManager.Test/bin/Debug
/EnterpriseTaskManager.Test/obj/Debug
/EnterpriseTaskManger.AngularJS_UnitTest.Tests
/EnterpriseTaskManger.AngularJS_UnitTest.Tests.Tests
/docker-compose.ci.build.yml
/docker-compose.dcproj
/docker-compose.override.yml
/docker-compose.vs.release.yml
/docker-compose.vs.debug.yml
