################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EnterpriseTaskManager/v15/.suo
/.vs/config/applicationhost.config
/.vs/config
/.vs/config
/EnterpriseTaskManager.DataAccess/obj/Debug
/EnterpriseTaskManager.DataAccess/obj/Debug
/EnterpriseTaskManager.DataAccess/obj/Debug
/packages
/.vs/ETM/v15/.suo
/.vs
/EnterpriseTaskManager/obj/Release
/EnterpriseTaskManager.Common/obj/Release
/EnterpriseTaskManager.DataAccess/obj/Release
/EnterpriseTaskManager
/EnterpriseTaskManager.Common
/EnterpriseTaskManager.DataAccess/bin/Debug
/PatientManagement/.vs/PatientManagement/v15/.suo
/PatientManagement/PatientManagement/bin
/PatientManagement/PatientManagement.Tests/obj/Debug
/PatientManagement/PatientManagement.DataAccess/obj/Debug
/PatientManagement/PatientManagement.Common/obj/Debug
/PatientManagement/PatientManagement/obj/Debug
