<html ng-app="HospitalModule">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <script src="~/ClientScript/PModule.js"></script>
    <script src="~/ClientScript/insuranceService.js"></script>
    <script src="~/ClientScript/InsuranceController.js"></script>

    <script src="~/ClientScript/PDierctive.js"></script>
</head>
<body class="container" ng-controller="InsuranceController">
    <h1>
        Insurance Information Portal
    </h1>
    <insurance-form></insurance-form>
</body>
</html>