<html ng-app="HospitalModule">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <script src="~/ClientScript/PModule.js"></script>
    <script src="~/ClientScript/PatientService.js"></script>
    <script src="~/ClientScript/PatientController.js"></script>

    <script src="~/ClientScript/PDierctive.js"></script>
</head>
<body class="container" ng-controller="PatientController">
    <h1>
        Patient Information Portal
    </h1>
    <person-form></person-form>
</body>
</html>